
* {
  box-sizing: border-box;
  font-family: 'Chelsea Market', cursive;
}

html {
  min-height: 100vh;

  font-family: 'Chelsea Market', cursive;
}

body {
  margin: 0;
background: rgba(116,191,201,0.8);
}

nav{
  z-index: 9000;
}

.page-title {
  color: #fff;
  font-family: 'Chelsea Market', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 2.8em;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: #fff;
  font-size: 1.5em;
}

.game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}

.card {
  position: relative;
  height: 135px;
  width: 135px;
  border-radius: 12px;
  border-color: transparent;
  background: rgba(116,191,201,0.1);;
}



.card-face {
  background: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

.card.matched .card-front .card-value {

  animation: dance 1s linear infinite 500ms;
}

.card-back {

  width:135px;

  margin: 0;

  transform: rotateY(0);
}



.objectives {
  width:135px;
  align-self: center;
}

.card-back:hover .card {
  transform: scale(0.8);
}

.card-value {
  position: relative;

  transition: transform 100ms ease-in-out;
}

.ods2, .ods8, .ods9,  .ods11,   .ods14,  .ods16{
  top:20%;
  width:50%;
}
.ods1{
  top:15%;
  width:80%;
}

.ods3, .ods13{
  top:15%;
  width:60%;
}

.ods15, .ods17{
  top:20%;
  width:40%;
}

.ods4, .ods5, .ods6, .ods7,.ods10, .ods12{
  top:15%;
  width:50%;
}

.ods2030{
  top:0%;
  width:80%;
}

.card-front:hover .card-value {
  transform: scale(0.8);
}

.card-front {

  border-color: #333;
  transform: rotateY(180deg);
}

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-family: 'Patrick Hand', cursive;
  transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small {
  font-size: .3em;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

@keyframes dance {
  0%, 100% {

    transform: matrix(0.8, 0, 0, 0.8, 0, 0);
  }
  25% {
    transform: matrix(0.8, 0.15, 0, 0.8, 0, 0);
  }
  75% {
    transform: matrix(0.8, -0.15, 0, 0.8, 0, 0);
  }
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 10em;
  }
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(2, auto)
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}
