

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;

  font-family: 'Alegreya', serif;
}

body {
  margin: 0;
background: rgba(116,191,201,0.8);
}

.page-title {
  color: #fff;
  font-family: 'Alegreya', serif;
  font-weight: normal;
  text-align: center;
  font-size: 2.8em;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: #fff;
  font-size: 1.5em;
}

.game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}

.card {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 12px;
  border-color: transparent;
  background: rgba(116,191,201,0.1);;
}



.card-face {
  background: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

.card.matched .card-front .card-value {

  animation: dance 1s linear infinite 500ms;
}

.card-back {
  border: 4px solid #1992c1;

  margin: 0;

  transform: rotateY(0);
}



.objectives {
  width:120px;
  align-self: center;
  transition: transform 100ms ease-in-out;
  transform: translateY(-10px);
}

.card-back:hover .card {
  transform: scale(0.8);
}

.card-value {
  position: relative;
  width:120px;
  transition: transform 100ms ease-in-out;

}

.card-front:hover .card-value {
  transform: scale(0.8);
}

.card-front {

  border-color: #333;
  transform: rotateY(180deg);
}

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FF6D00;
  font-family: 'Alegreya', serif;
  transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small {
  font-size: .3em;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

@keyframes dance {
  0%, 100% {

    transform: matrix(0.8, 0, 0, 0.8, 0, 0);
  }
  25% {
    transform: matrix(0.8, 0.15, 0, 0.8, 0, 0);
  }
  75% {
    transform: matrix(0.8, -0.15, 0, 0.8, 0, 0);
  }
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 10em;
  }
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(2, auto)
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}
