* {
  box-sizing: border-box;
  font-family: 'Chelsea Market', cursive;
  margin: 0;
  padding: 0;
  color: #333;

}

html{
  font-family: 'Chelsea Market', cursive;
}
#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  transform: scale(1.025);
}
